@model QuanLySuKien.Models.SuKien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SuKien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSuKien" class="control-label"></label>
                <input asp-for="TenSuKien" class="form-control" />
                <span asp-validation-for="TenSuKien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiSuKien" class="control-label"></label>
                <input asp-for="LoaiSuKien" class="form-control" />
                <span asp-validation-for="LoaiSuKien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaDiemId" class="control-label"></label>
                <select asp-for="DiaDiemId" class ="form-control" asp-items="ViewBag.DiaDiemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayToChuc" class="control-label"></label>
                <input asp-for="NgayToChuc" class="form-control" />
                <span asp-validation-for="NgayToChuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioToChuc" class="control-label"></label>
                <input asp-for="GioToChuc" class="form-control" />
                <span asp-validation-for="GioToChuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhBia" class="control-label"></label>
                <input asp-for="AnhBia" class="form-control" />
                <span asp-validation-for="AnhBia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
